
.ViewContainer{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height:440px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
}

.ViewLeft{
    /* border: 1px solid green; */
    box-sizing: border-box;
    width: 65%;
    height:100%;
    padding:10px;
    display: flex;
    flex-direction: column;
}
.ViewRight{
    margin-top: 10px;
    border: 1px solid RGB(217, 220, 224);
    width:35%;
    height:95%;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px;
    
}
.ViewTitle{
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 10px;
}
.PopularBlock{
    height: 60px;
    display: flex;
    flex-direction: row;
}
.VscGraph{
    color: rgb(27, 114, 232);
    border-radius: 5px;
    padding: 5px;
    background-color: RGB(231, 240, 254);

}
.PopularText{
    font-size: 18px;
    font-weight: 100;
    /* border: 1px solid black; */
    height: 40px;
    margin-top: 5px;
    margin-left: 10px;
}

.Spacing{
    height:14px;
    /* border: 1px solid black; */
}