body{
    font-family: 'Montserrat', sans-serif;
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@300;400&family=Space+Mono:wght@700&display=swap');
}

.OutContainer{
    margin-top: 30px;
    width: 70vw;
    height:70vh;
    margin-left: auto;
    margin-right: auto;
    /* border:1px solid red; */
    z-index: 0;
    display: flex;
    flex-direction: row;

}
.Row{
    flex-direction: row;
    display: flex;
}
.RightCont{
    width: 700px;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    background-color: transparent;
    align-items: flex-start;
    
}

.LeftCont{
    width: 50%;
    height: 100%;
    /* border:1px solid green */
}

.RightInterior{
    /* border: 1px solid black; */
    width:400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    box-sizing: border-box;
    background-color: transparent;
    align-self: flex-start;
}

.LeftInterior{
    /* border: 1px solid black; */
    width:400px;
    height: 100%;
    display: flex;
    padding-left: 40px;
    flex-direction: column;
    background-color: transparent;
}

.IBM, .AppleStock, .Microsoft, .Portfolio{
    box-sizing: border-box;
    margin: 8px;
    width: 93%;
    background-color: white;
    border-radius: 20px;
    /* box-shadow: 3px 3px 7px 3px rgba(0,0,0,0.14); */
    box-shadow: 0px 0px 120px -10px rgba(0,0,0,0.15);
    box-sizing: border-box;
    padding: 24px;
    display: flex;
    /* border:1px solid green; */

}
.AppleStock{
    width: 360px;
    height: 400px;
    flex-direction: column;
}

.Portfolio{
    height:480px;
    width: 340px;
    flex-direction: column;
}

.IBM{
    margin-top: 20px;
    width: 340px;
    height:110px;
    flex-direction: row;
}

.Microsoft{
    height:224px;
    width: 355px;
}

.IBM-logo{
    margin-top: -20px;
    margin-bottom:0px;
}

.IBMleft, .IBMright{
    width: 50%;
    height: 100%;
    /* border:1px solid black; */
    display: flex;
    flex-direction: column;
}

.IBMprice{
    color:rgb(36, 105, 240);
    font-weight: 700;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    margin-left: 29px;
}

.IBMname{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin-top:45px;
    position:absolute
 
}

.IBMstats{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top:44px;
    margin-left: 30px;
    font-weight: 700;
    position:absolute
}

.AppleTop, .AppleMid, .AppleGraph{
    width: 100%;
    height:33.3%;
    flex-direction: row;
    display: flex;
     /* border: 1px solid black; */
}
.AppleNameTag{
    /* border: 1px solid black; */
    height: 50px;
}
.AppleName{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 5px;
    position:absolute;
    margin-left:20px;
}
.AppleSrc{
    margin-top: 30px;
    margin-left:20px;
}

.ApplePrice{
    color:rgb(36, 105, 240);
    font-weight: 700;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    margin-left: -45px;
}
.DivLineApple{
    position: absolute;
    margin-left:-75px;
    width: 360px;
    margin-top: -5px;
    border:0.05px solid  rgba(223, 223, 223, 0.5);
}
.AppleStats{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top:85px;
    margin-left: 200px;
    font-weight: 700;
    position:absolute
}

.AppleMidLeft, .AppleMidRight{
    box-sizing: border-box;
    margin-top: 10px;
    padding-left: 5px;
    /* border:1px solid black; */
    width:50%;
    height: 100%;
}
.AppleStatTitle{
    margin-top: 15px;   
}

.AppleStatValue{
    font-weight: 600;
    margin-top: -15px;
    margin-bottom: 15px;
}

.PortContent{
    width: 100%;
    height:25%;
    flex-direction: column;
    /* border:1px solid black; */
}
.PortTitle{
    font-weight: 700;
    font-size: 20px;
    margin-top: 0px;
}

.DivLinePort{
    position: absolute;
    margin-left:-25px;
    width: 338px;
    margin-top: 0px;
    border:0.05px solid  rgba(223, 223, 223, 0.5);
}

.PortLeft{
    display: flex;
    flex-direction: row;
}

.AddPort{
    flex-direction: row;
    display: flex;
    padding-top: 2px;
    margin-top: -10px;
    margin-bottom: 20px;
    border-radius: 13px;
    height:80px;
    width: 293px;
    box-sizing: border-box;
    border:0.13rem solid  rgba(223, 223, 223, 1);
    z-index: 1;
    transition: all 0.2s ease-out;
}

.AddPort:hover{
    background-color: rgba(225, 234, 251, 0.5);
    transition: all 0.2s ease-out;
    cursor: pointer;
}
.PortText{
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 13px;
    margin-left: 10px;
    margin-top: 16px;
    /* border: 1px solid black;
     */
}
.AddLogo{
    margin: 0px;
    margin-left: 15px;
    width: auto;
    /* border: 1px solid black; */
}
@media screen and (max-width:1600px){
    .OutContainer{
        margin-top: 30px;
        width: 83vw;
}
}
@media screen and (max-width:1300px){
    .OutContainer{
        flex-direction: column;
        width: 70vw;
    }
    
}